.App h1,
.App h2 {
  text-align: center;
  color: white;
}

.App h1 {
  padding-top: 10px;
  font-size: 50px;
  margin-bottom: 10px;
}

.App h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.App .container {
  max-width: 700px;
  background-color: rgba(19, 67, 148, 1);
  box-shadow: 5px 5px 5px rgba(19, 67, 148, 0.5);
  margin: 15px auto;
  padding: 20px;
  border-radius: 7px;
}
