.Search h3 {
  color: white;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.Search form {
  text-align: center;
}

.Search form input {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px 5px 8px;
  border: none;
  font-size: 17px;
  border-radius: 7px;
}

.Search form .button {
  margin-left: 3px;
  color: rgba(199, 9, 35, 1);
  background-color: white;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 5px rgb(6, 23, 53);
  border: 1px solid white;
}

.Search form .search {
  box-shadow: 5px 5px 5px rgb(6, 23, 53);
}

.Search form .button:hover {
  margin-left: 3px;
  background-color: rgba(199, 9, 35, 1);
  color: white;
  transition: all 200ms ease-in-out;
}
